<?xml version="1.0" encoding="UTF-8"?>
<zk>
	<config-name>p2</config-name><!-- used to resolve dependency -->
	<!--
	<depends>zk</depends>
	-->
	
  	<version>
		<version-class>r.Version</version-class>
		<version-uid>f</version-uid>
	</version>

	<!--
	<listener>
		<listener-class>r.</listener-class>
	</listener>
	
	<library-property>
		<name></name>
		<value>r.</value>
	</library-property>
	-->
</zk>